.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.guess-color {
  height: 300px;
  width: 300px;
  /* background: red;
  position: absolute; */
  margin-bottom: 30px;
}

button {
  padding: 5px;
  margin-left: 15px;
  font-size: 15px;
  margin-bottom: 25px;
}

button + button {
  margin-left: 30px;
}

.incorrect {
  color: red;
  font-size: 24px;
}

.correct {
  color: green;
  font-size: 24px;
}